.repository {
  position: relative;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  transition: all 0.2s linear;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    border: 1px solid #40a9ff;
  }

  .repository_link {
    color: inherit;
  }
}

.left_content {
  img {
    width: 85px;
    height: 85px;
    margin: 0 auto 20px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.right_content {
  margin-top: 15px;
  padding-top: 15px;
  text-align: right;
  border-top: 1px solid lightgrey;
}